        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-12 col-12">
            <h5>カテゴリ</h5>
            <% @categories.each do |category| %>
              <%=link_to category.name, { :controller => "/forums", :action => "index", p:{forum_category_id: category.id} } %><br>
            <% end %>
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 col-12">
            <p id="notice"><%= notice %></p>
            <h1>Forums</h1>
            <br>
            <p>検索</p>
            <%= form_tag(forums_path,:method => 'get', class: 'justify-content-start') do %>
              <div class="input-group">
                <%=label :forum, :forum_category_id, class: 'control-label form-control-static ccol-12 col-md-2 login_label' %>
                <%= collection_select :forum, :forum_category_id, @categories, :id, :name, :include_blank => '未選択' ,selected: (params[:p] &&  params[:p][:forum_category_id]) ? params[:p][:forum_category_id] : -1 %>
              </div>
              <div class="input-group">
                <%=label :forum, :title, class: 'control-label form-control-static ccol-12 col-md-2 login_label' %>
                <%= text_field_tag :title, params[:title], class: 'form-control col-12 col-md-9 login_label' %>
              </div>
              <div class="input-group">
                <%=label :forums, :body, class: 'control-label form-control-static ccol-12 col-md-2 login_label' %>
                <%= text_field_tag :body, params[:body], class: 'form-control col-12 col-md-9 login_label' %>
              </div>
              <%= submit_tag t('forums.index.search'), :name => nil, class: 'btn btn-primary btn-sm' %>
            <% end %>
            <hr>
              <%= current_user ? link_to(t('forums.index.new_forum'), new_forum_path, class: 'btn btn-primary btn-sm') : '' %>
            <hr>
            <%= paginate @forums %>
            <% @forums.each do |forum| %>
            <dl>
              <dt>
                <%= link_to(forum.title, forum) %>
              </dt>
              <dd>
                [<%= link_to(username(forum.user), user_info_path(forum.user.user_info ? forum.user.user_info.user_name : forum.user.id)) %>]
                (<%=l(forum.created_at, format: :short) %>)<br>
                <%= (current_user && (current_user.id == forum.user_id || current_user.is_admin)) ? link_to('Edit', edit_forum_path(forum)) << ' | ' : '' %>
                <%= (current_user && (current_user.id == forum.user_id || current_user.is_admin)) ? link_to('Destroy', forum, method: :delete, data: { confirm: 'Are you sure?' }) : '' %><br>
                <div class="list_detail">
                    <%= br(forum.detail.slice(0, 256)) %>
                </div>
              </dd>
            </dl>
            <% end %>

            <%= paginate @forums %>
            <br>
            <%= link_to(t('agreements.back'), root_path, class: 'btn btn-primary btn-sm') %>
          </div>
        </div>
