<%= form_with(model: lounge, local: true) do |form| %>
  <% if lounge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lounge.errors.count, "error") %> prohibited this lounge from being saved:</h2>

      <ul>
      <% lounge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :overview %>
    <%= form.text_area :overview %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
