        <%= form_with(model: album, local: true, html: {class: 'justify-content-start'}) do |form| %>
          <% if album.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

              <ul>
              <% album.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>
          <div class="row justify-content-start">
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.label :images, class: 'control-label form-control-static ccol-12 col-md-2 login_label' %>
            <% if album.images %>
              <p>現在登録されている画像（削除するものはチェックしてください）</p>
              <% album.images.each do |image| %>
                <%= form.check_box :image_ids, {:multiple => true}, image.id, false %>
                <div onclick="set_profile_image_id(<%=image.id %>)">
                  <%= image_tag image, :size=>"300x300" %> <br>
                </div>
              <% end %>
            <% end %>
            <div class="input-group">
              <%= form.file_field :images, multiple: true %>
            </div>

            <div class="input-group">
              <%= form.label :title, class: 'control-label form-control-static ccol-12 col-md-2 login_label' %>
              <%= form.text_field :title, class: 'form-control col-12 col-md-9 login_label' %>
            </div>

            <div class="input-group">
              <%= form.label :description, class: 'control-label form-control-static ccol-12 col-md-2 login_label' %>
              <%= form.text_area :description, class: 'form-control col-12 col-md-9 login_label' %>
            </div>
            <div class="actions">
              <%= form.submit name: nil, class: 'btn btn-primary btn-sm' %>
            </div>
          </div>
        <% end %>
