<%= form_with(model: watch_forum, local: true) do |form| %>
  <% if watch_forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(watch_forum.errors.count, "error") %> prohibited this watch_forum from being saved:</h2>

      <ul>
      <% watch_forum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :forum_id %>
    <%= form.number_field :forum_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
