<p id="notice"><%= notice %></p>

<h1>Watch Forums</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Forum</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @watch_forums.each do |watch_forum| %>
      <tr>
        <td><%= watch_forum.user_id %></td>
        <td><%= watch_forum.forum_id %></td>
        <td><%= link_to 'Show', watch_forum %></td>
        <td><%= link_to 'Edit', edit_watch_forum_path(watch_forum) %></td>
        <td><%= link_to 'Destroy', watch_forum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Watch Forum', new_watch_forum_path %>
