<!DOCTYPE html>
<html>
<head>
  <title><%=@site_name %></title>
    <!-- You can use Open Graph tags to customize link previews.
    Learn more: <%=@own_url %> -->
  <meta property="og:url"           content="<%=@now_url %>" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="<%=@title ? @title : @site_name  %>" />
  <meta property="og:description"   content="<%=@overview %>" />
  <meta property="og:image"         content="https://www.hesper.site/assets/kotetsu.jpg" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <script>
    var base_url = '<%=root_url(only_path: false) %>';
  </script>
  <%= javascript_include_tag('application') %>
  <!--
  <script>
    $(document).ready(function() {
      $('.drawer').drawer();
    });
  </script>
  // -->
<!-- drawer.css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/css/drawer.min.css">
<!-- jquery & iScroll -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.2.0/iscroll.min.js"></script>
<!-- drawer.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/drawer/3.2.2/js/drawer.min.js"></script>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>
<%= stylesheet_link_tag('application', media: 'all') %>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ja_JP/sdk.js#xfbml=1&version=v3.3&appId=351838351533801&autoLogAppEvents=1"></script>
</head>
<body class="drawer drawer--right drawer-close">
  <main role="main">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3 col-3 header">
          <span class="site_name">
            <%= link_to Bamboo::Application.config.site_name, "/" %>
          </span>
        </div>
        <div class="col-lg-7 col-md-7 col-sm-7 col-7 header">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-2 header">
          <button type="button" class="drawer-toggle dropbutton">
            <span class="sr-only">toggle navigation</span>
            <span class="drawer-hamburger-icon"></span>
          </button>
        </div>
      </div>
      <div class="row" style="border: 1px;">
        <div class="col-12 menu">
          <%=link_to 'Note', notes_path, class: 'btn-sm' %>
          <%=link_to 'Forum', forums_path, class: 'btn-sm' %>
          <% if current_user %>
            <% if @new_recv_count %>
              <a href="<%=dmessages_path %>" class='btn-sm'>
                Mail
                <% if @new_recv_count > 0 %>
                  <span class="badge badge-pill badge-primary">
                    <%=@new_recv_count %>
                  </span>
                <% end %>
              </a>
            <% end %>
            <%= current_user.user_info ? link_to('Profile', "/user_infos/" + current_user.user_info.name, { :class => 'btn-sm', method: :get}) : (link_to('New Profile', new_user_info_path, { :class => 'btn-sm', method: :get }) ) %>
            <%=link_to("Password", edit_user_registration_path, class: "btn-sm") %>
            <%=link_to('Sign Out', '/sign_out', class: 'btn-sm')  %>
          <% else %>
            <%=link_to('Sign In', new_user_session_path, class: 'btn-sm')  %>
          <% end %>
        </div>
      </div>
      <div class="row main_contents justify-content-start">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
  <%= yield %>
        </div>
      </div>
      <div class="row agreements">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          <%=link_to(t('agreements.agreement'), agreements_path) %>
        </div>
      </div>
      <div class="row footer">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12">
          © Since 2019 Hesper.site.
        </div>
      </div>
    </div>
  </main>
  <header role="banner">
    <nav class="drawer-nav" role="navigation">
      <ul 
        class="drawer-menu" 
        style="transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1); transition-duration: 0ms; transform: translate(0px, 0px) translateZ(0px);">
        <!--  -->
        <li class="drawer-brand">
          Celaeno Menu<span class="drawer-caret"></span>
        </li>
        <!-- Home -->

        <li class="">
          <%= link_to 'Home', "/" , { :class => "drawer-menu-item" } %>
        </li>

        <!-- News -->
        <li class="">
          <%= link_to 'News', { :controller => "/news", :action => "index" }, { :class => "drawer-menu-item" } %>
        </li>

        <!-- Note -->
        <li class="">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
              Note
            </button>
            <div class="dropdown-menu">
              <%=link_to 'All', { :controller => "/notes", :action => "index" },class: "dropdown-item" %>
              <% @categories.each do |category| %>
                  <%=link_to category.name, { :controller => "/notes", :action => "index", p:{category_id: category.id} },class: "dropdown-item" %>
              <% end %>
            </div>
          </div>
        </li>

        <!-- Forum -->
        <li class="">
          <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
              Forum
            </button>
            <div class="dropdown-menu">
                <%=link_to 'All', { :controller => "/forums", :action => "index" },class: "dropdown-item" %>
                <% @forum_categories.each do |category| %>
                <%=link_to category.name, { :controller => "/forums", :action => "index", p:{forum_category_id: category.id} },class: "dropdown-item" %>
                <% end %>
            </div>
          </div>
        </li>

        <!-- Home -->
        <li class="">
          <%= link_to 'Album', albums_path , { :class => "drawer-menu-item" } %>
        </li>

        <!-- System Menu -->
        <% if user_signed_in? %>
          <li class="">
            <%= link_to "User", edit_user_registration_path, { :class => "drawer-menu-item"} %>
          </li>
          <li class="drawer-menu">
            <%= current_user.user_info ? link_to('Profile', "/user_infos/" + current_user.user_info.name, { :class => "drawer-menu-item", method: :get}) : (link_to('Profile', new_user_info_path, { :class => "", method: :get }) << ' | ') %>
          </li>
          <li class="">
            <%= link_to "Sign Out", '/sign_out', { :class => "drawer-menu-item", method: :delete } %>
          </li>
        <% else%>
          <li class="">
            <%= link_to "Sign In", new_user_session_path, { :class => "drawer-menu-item" } %>
          </li>
        <% end %>
      </ul>
    </nav>
  </header>
</body>
</html>
